<a href="https://colab.research.google.com/github/Akashhh-p/ML-DS/blob/ML/week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
def fun():
  print('Akash')

In [ ]:
fun()

Akash

In [ ]:
def fun1():
  for i in range(1,10):
    print("hello")

In [ ]:
fun1()

hello
hello
hello
hello
hello
hello
hello
hello
hello

types of functions :1. default = print(),len(),input()
2. user defined =

In [ ]:
#global value : example is your name that means everyone calls you with that and u responds
#local value : example is your nick name that means only ur close frnds and family calls u with that

In [ ]:
#local value and global value
b=4    #global
def func():
  a=2    #local

In [ ]:
print(b)

4

In [ ]:
print(a) #this is local value where it is accesible in the same piece of code

NameError: name 'a' is not defined

In [ ]:
def fun():
  print('hello')
fun()

def fun():
    print('hii')
fun()

hello
hii

In [ ]:
fun()

hii

In [ ]:
#parameters in functions
def fun(name,age):
  print(f"Hii {name} and your age is {age}")  #print (f"") is used to print a string like hii and your age is

In [ ]:
fun("Akash",20)

Hii Akash and your age is 20

In [ ]:
def add(a,b):
  return a*b

In [ ]:
add(90,90)

8100

In [ ]:
def operation(a,b,c):
  return a+b+c,a-b-c,a*b*c,a/b/c

In [ ]:
operation(500,450,400)

(1350, -350, 90000000, 0.002777777777777778)

In [ ]:
def leap_year(year):
  year = input(int("enter year")) # leap yr condition is year%4==0 and year%100!=0 or year%400 == 0
  if ( year%400==0):
    print(f"{year} is a leap year")
  else :
    print(f"{year} is not a leap year")

  leap_year(2006)