<a href="https://colab.research.google.com/github/Akashhh-p/ML-DS/blob/ML/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tuples are immutable that means we cant change the elements and in the list we can change add and dlt the elements

In [ ]:
empty_tuple=()

In [ ]:
type(empty_tuple)

tuple

In [ ]:
lst=[]

In [ ]:
type(lst)

list

In [ ]:
numbers=(1,2,3,4,5,6)

In [ ]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
print(numbers[2:6])

(3, 4, 5, 6)

In [ ]:
print(numbers[2:1:-1])

(3,)

In [ ]:
print(numbers[::-1])

(6, 5, 4, 3, 2, 1)

In [ ]:
mixed_tuple=(1,'gfg',True,2.4)

In [ ]:
#concate tuple
concate_tuple= numbers+mixed_tuple
concate_tuple

(1, 2, 3, 4, 5, 6, 1, 'gfg', True, 2.4)

In [ ]:
mixed_tuple*3

(1, 'gfg', True, 2.4, 1, 'gfg', True, 2.4, 1, 'gfg', True, 2.4)

In [ ]:
#immutability of tuple
lst=[1,2,3,4]
lst[2]='akash'
lst

[1, 2, 'akash', 4]

In [ ]:
numbers[2]=4
numbers #tuple cant be changed

TypeError: 'tuple' object does not support item assignment

In [ ]:
#tuple methods
tuple_1=(22,22,22,3,45,6,3,3,90)

In [ ]:
tuple_1.count(3)

3

In [ ]:
tuple_1.index(45)

4

In [ ]:
#unpacking tuple
numbers
*first,middle,last=numbers
print(first)
print(middle)
print(last)

[1, 2, 3, 4]
5
6

In [ ]:
numbers
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
numbers
first,middle,*last=numbers
print(first)
print(middle)
print(last)

1
2
[3, 4, 5, 6]

In [ ]:
tpl=(1,2,3,4)
tpl

(1, 2, 3, 4)

In [ ]:
a,b,c,d=tpl
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [ ]:
*a=tpl
print(a)

SyntaxError: starred assignment target must be in a list or tuple (ipython-input-47-1807633346.py, line 1)

In [ ]:
b,*a=tpl
print(a)

[2, 3, 4]

In [ ]:
#nested lists and tuple
lst=[[1,2,3],[4,5,6],[6,7,8]]
lst[0]

[1, 2, 3]

In [ ]:
lst[1][0:2]

[4, 5]

In [ ]:
#nested tuple
tpl=((1,2,3),("a","b","c"),(True,False))
tpl[2]

(True, False)

In [ ]:
tpl[0]

(1, 2, 3)

In [ ]:
tpl[0][2]

3

In [ ]:
my_set={1,2,3,4}
my_set.add(5)
my_set

{1, 2, 3, 4, 5}

In [ ]:
my_set.remove(4)
my_set

{1, 2, 3, 5}

In [ ]:
my_set.remove(10)
my_set

KeyError: 10

In [ ]:
my_set.discard(2)
my_set

{1, 3, 5}

In [ ]:
my_set.discard(10) #there is no error while using discard when calling for the element which is not in set but in remve func it gives error
my_set

{3, 4, 5, 6}

In [ ]:
#pop - removes element
my_set={1,2,3,4,5,6}
a=my_set.pop()
a

1

In [ ]:
b=my_set.pop()
b

2

In [ ]:
print(3 in my_set)

True

In [ ]:
print(10 in my_set)

False

In [ ]:
#dictionaries

In [ ]:
empty_dict = {}
print(type(empty_dict)) #set is also defined in curly braces{} but empty set is not decalred in the same way as empty_dict

<class 'dict'>

In [ ]:
student = {'name': 'akash','age': 20,'country':'india'} #here name age and country are the keys and akash 20 india are the values
print(student)

{'name': 'akash', 'age': 20, 'country': 'india'}

In [ ]:
student1={'akash':'name',20:'age','india':'country'}#hre we reversed the keys and values
print(student1)

{'akash': 'name', 20: 'age', 'india': 'country'}

In [ ]:
student = {'name': 'akash','age': 20,'country':'india','name':'gffg'} #no duplicate keys
print(student)

{'name': 'gffg', 'age': 20, 'country': 'india'}

In [ ]:
student["name"]

'gffg'

In [ ]:
student["age"]

20

In [ ]:
student["country"]

'india'

In [ ]:
#get method
student.get("name")

'gffg'

In [ ]:
student.get("age")

20

In [ ]:
#alter or update values
student["age"]=25
student

{'name': 'gffg', 'age': 25, 'country': 'india'}

In [ ]:
student["address"]="vizag"
student

{'name': 'gffg', 'age': 25, 'country': 'india', 'address': 'vizag'}

In [ ]:
del student["address"]
student

{'name': 'gffg', 'age': 25, 'country': 'india'}

In [ ]:
student.keys()

dict_keys(['name', 'age', 'country'])

In [ ]:
student.values()

dict_values(['gffg', 25, 'india'])

In [ ]:
student.items()

dict_items([('name', 'gffg'), ('age', 25), ('country', 'india')])

In [ ]:
#copy
student_copy = student

In [ ]:
student["name"]="ab"

In [ ]:
student
student_copy

{'name': 'ab', 'age': 25, 'country': 'india'}

In [ ]:
student

{'name': 'ab', 'age': 25, 'country': 'india'}

In [ ]:
student_copy

{'name': 'ab2', 'age': 25, 'country': 'india'}

In [ ]:
student_copy1=student.copy()
student_copy1

{'name': 'ab2', 'age': 25, 'country': 'india'}

In [ ]:
student

{'name': 'ab2', 'age': 25, 'country': 'india'}

In [ ]:
student_copy

{'name': 'ab2', 'age': 25, 'country': 'india'}

In [ ]:
#iteration
for i in student.keys():
  print(i)

name
age
country

for i,j in student.items():
  print(f"{i} : {j}")

In [ ]:
#nested dictionaries
student ={"student1":{"name":"akash","Age":20},
          "student2":{"name":"ab","age":24}}

In [ ]:
student

{'student1': {'name': 'akash', 'Age': 20},
 'student2': {'name': 'ab', 'age': 24}}

In [ ]:
student1

{'akash': 'name', 20: 'age', 'india': 'country'}

In [ ]:
student["student1"]["Age"]

20

In [ ]:
#nested dictionaries
student ={"student1":{"name":"akash","Age":20},
          "student2":{"name":"ab","age":24}}

#iterate
for student_id,student_info in student.items():
  print(f"{student_id}:{student_info}")
for key,value in student.items():
  print(f"{key} :  {value}")

student1:{'name': 'akash', 'Age': 20}
student2:{'name': 'ab', 'age': 24}
student1 :  {'name': 'akash', 'Age': 20}
student2 :  {'name': 'ab', 'age': 24}

In [ ]:
num = int(input("enter num"))
squares={x**2 for x in range(num)}
squares

enter num50

{0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401}

In [ ]:
num = int(input("enter num"))
even={x**2 for x in range(num) if x%2==0}
even

enter num50

{0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304}

In [ ]:
#question
singedUp= [101,102,103,104,102,105,103,106,107]
singedUp= list(set(singedUp))
attended =[101,102,103,103,105,106]
attended=list(set(attended))
a_count=0
na_count=0

dic={}

for i in singedUp:
    if i in attended:
        dic[i]="Attended"
        a_count+=1
    else :
        dic[i]="No-show"
        na_count+=1

print(dic)
print("summary ")
print("attendees: ",a_count)
print("no show: ",na_count)

{101: 'Attended', 102: 'Attended', 103: 'Attended', 104: 'No-show', 105: 'Attended', 106: 'Attended', 107: 'No-show'}
summary
attendees:  5
no show:  2

In [ ]:
list1= [1,2,3,4,5,6,7,8]
list2= [3,5,1,7,8,0,10,12]

list1= set(list1)
list2= set(list2)
common_elements = list1.intersection(list2)
if common_elements:
  print(sorted(list(common_elements)))
else:
  print("no common elements")

[1, 3, 5, 7, 8]

In [ ]:

text="hello world"
count={}
for ch in text:
  count[ch]=text.count(ch)
print(count)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}